<h1>Statistics by country</h1>
<p>In this project we will address the next topics:</p>

<section class="mat-typography">
  <h1>General Overview</h1>
  <mat-list class="steps">
    <mat-list-item role="listitem"><i class="fas fa-play fa-xs" ></i> Load with service&nbsp;
      <button mat-button routerLink="/outside/stats/service/costa-rica">Costa Rica</button>
      <button mat-button routerLink="/outside/stats/service/nicaragua">Nicaragua</button>
      <button mat-button routerLink="/outside/stats/service/united-states">USA</button>
    </mat-list-item>

    <mat-list-item role="listitem"><i class="fas fa-play fa-xs" ></i> Load with resolver&nbsp;
      <button mat-button routerLink="/outside/stats/resolver/costa-rica">Costa Rica</button>
      <button mat-button routerLink="/outside/stats/resolver/nicaragua">Nicaragua</button>
      <button mat-button routerLink="/outside/stats/resolver/united-states">USA</button>
    </mat-list-item>

    <mat-list-item role="listitem"><i class="fas fa-play fa-xs" ></i> Load with resolver and observable&nbsp;
      <button mat-button routerLink="/outside/stats/resolver-observable/costa-rica">Costa Rica</button>
      <button mat-button routerLink="/outside/stats/resolver-observable/nicaragua">Nicaragua</button>
      <button mat-button routerLink="/outside/stats/resolver-observable/united-states">USA</button>
    </mat-list-item>

  </mat-list>
</section>
