<section class="mat-typography">
  <h1>General Overview</h1>
  <p>In this project we will address the next topics:</p>
  <mat-list class="steps">
    <mat-list-item role="listitem"><i class="fas fa-play fa-xs" ></i> Routing overview</mat-list-item>
    <mat-list-item role="listitem"><i class="fas fa-play fa-xs" ></i> Lazy Loading overview</mat-list-item>
    <mat-list-item role="listitem"><i class="fas fa-play fa-xs" ></i> Guards overview</mat-list-item>
    <mat-list-item role="listitem"><i class="fas fa-play fa-xs" ></i> Add guards to this app</mat-list-item>
    <mat-list-item role="listitem"><i class="fas fa-play fa-xs" ></i> Set a landing transition route (if there is time)</mat-list-item>
  </mat-list>
</section>
