<section class="mat-typography">
  <h1>Lazy Loading</h1>
  <mat-list class="steps">
    <mat-list-item role="listitem"><i class="fas fa-play fa-xs" ></i> Sintax &nbsp; <code>loadChildren: () => import('./outside/outside.module').then(m => m.OutsideModule)</code></mat-list-item>
    <mat-list-item role="listitem"><i class="fas fa-play fa-xs" ></i> Generates single bundle JS</mat-list-item>
    <mat-list-item role="listitem"><i class="fas fa-play fa-xs" ></i> Shared Services should be provided in shared module</mat-list-item>
  </mat-list>
</section>
